{% extends "base.njk" %}

{% block content %}
<h1>{{ title | md | safe }}</h1>
{%if not no_code %}
<div class="alert alert-info" role="alert">
  <b>Follow Along</b> by downloading the <a href="../{{ page.inputPath | filename }}" download><i class="bi bi-download"></i>this Rocq source</a>.
</div>
{% endif %}
{{ content | safe }}
{% endblock %}
