{% macro menuitem(elem, indent, current=null, ancestors=[]) %}
{% if elem.children and 0 < (elem.children | length) %}
   
       <li data-bs-toggle="collapse" data-bs-target="#{{ elem.title | slugify }}-collapse" class=" sidebar-child d-flex justify-content-between {{'sidebar-child-list' if indent == false }}">
  {% set is_current = elem.key == current.key or page.url == elem.url %}
  <a class="nav-link px-0" style="display: inline" href="{{ elem.url }}">
    {{ elem.title | md | safe }}
  </a>
  <button class="btn sidebar-toggle align-items-center rounded px-1"
    
    {{ 'aria-expanded=true' if is_current }}>
  </button>
</li>

  <div class="collapse" id="{{ elem.title | slugify }}-collapse">
    <ul class="sidebar-toggle-nav list-unstyled fw-normal pb-1  small">
      {% set current = ancestors.pop() if is_current %}

      {% if elem.key == 'reference' %}
        {% set children = elem.children | sort_by('key') %}
      {% else %}
        {% set children = elem.children %}
      {% endif %}

      {% for xxx in children %}
        {% if is_current and xxx.key == current.key %}
          {{ menuitem(xxx, false, current, ancestors) }}
        {% else %}
          {{ menuitem(xxx, false) }}
        {% endif %}
      {% endfor %}
    </ul>
  </div>

{% elif elem.title %}
<li class="mb-1 py-1 sidebar-child">
  <a class="nav-link" href="{{ elem.url }}" {{ 'aria-current="page"' if page.url == elem.url }}>{{ elem.title | md | safe }}</a>
</li>
{% endif %}
{% endmacro %}

{% set ancestors = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.parent, { includeSelf: true }) | reverse %}

<div class="flex-shrink-0" style="min-width: 250pt;">
  <ul class="list-unstyled ps-0 mx-3" id="sidebar">
    {% set current = ancestors.pop() %}
    {% for elem in collections.all | eleventyNavigation %}
      {% if elem.key == current.key %}
        {{ menuitem(elem, true, current, ancestors) }}
      {% else %}
        {{ menuitem(elem, true) }}
      {% endif %}
    {% endfor %}
  </ul>
</div>
